bin
include
lib
lib64
pyvenv.cfg

# .vscode
.vscode
face01lib/.vscode
DST.code-workspace
face01lib/face01lib.code-workspace

__pycache__
dlib-19.24
face01lib/CMakeLists.txt
face01lib/cspell.json
images/描画.svg
output/*.png
priset_face_images/*.png
priset_face_images/debug/*.png
restats
share
share/*
priset_face_images/*
preset_face_images/*
CTKtest

sphinx
build
*build*