bin
include
lib
lib64
pyvenv.cfg

# .vscode
.vscode
face01lib/.vscode
DST.code-workspace
face01lib/face01lib.code-workspace

__pycache__
dlib-19.24
face01lib/CMakeLists.txt
face01lib/cspell.json
images/描画.svg
output/*.png
priset_face_images/*.png
priset_face_images/debug/*.png
restats
share
share/*
priset_face_images/*
preset_face_images/*
CTKtest

sphinx
build
*build*

SETTING_MANAGER.py
make_DockerImages.sh
make_dockerImage.sh
face01libface01.log
face01.log
顔無し区間を含んだテスト動画.mp4 
DIST.code-workspace
Dockerfile
SETTING_MANAGER_FOR_FACE01_1.4.05.py
docs/__pycache__
docs/_build
docs/_static
docs/_templates
docs/_themes
docs/sphinx
docs/.doctrees